@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "JetBrains Mono", monospace;
	margin: 0;
	background-color: #303030;
	color: white;
}

.AppleSepHeroTxt h1 {
	font-size: 80px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #303030;
	display: flex;
	position: sticky;
	top: 0;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

.logo {
	float: left;
	width: 100px;
	height: auto;
	padding: 10px 0;
}

nav {
	display: flex;
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 43px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: red;
}

nav a:hover::before {
	width: 100%;
}

nav a::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background-color: gray;
	position: absolute;
	top: 0;
	width: 0;
	transition: 200ms;
}

.hero {
	width: 100%;
	height: 500px;
	background-image: url("https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iPhone-13-Pro_Colors_09142021_big.jpg.slideshow-medium_2x.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
}

.hcontainer {
	display: flex;
	text-align: center;
	color: white;
}

.typing {
	position: relative;
}

.typing::after {
	content: "";
	position: absolute;
	width: 1px;
	margin-left: 5px;
	height: 100%;
	background-color: lightgray;
	animation: blink 0.5s infinite ease;
}

.tyeffect::after {
	content: "";
	position: absolute;
	width: 45px;
	margin-left: 5px;
	height: 105px;
	background-color: black;
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.time_hero {
	height: 100px;
	background-color: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}

.featured {
	width: 100%;
	display: flex;
	padding-top: 50px;
}

.featured h1 {
	margin-left: 3%;
	margin-right: 3%;
}

.featured p {
	margin-top: 3%;
	margin-bottom: 3%;
}

.featuredHeadlines {
	flex: 80%;
	gap: 5%;
	padding: 10px;
	display: flex;
}

.featuredHeadlines a {
	text-decoration: none;
	color: white;
}

.headline1Cont {
	background-color: #202020;
	border-radius: 11px;
	width: fit-content;
	height: 510px;
	padding: 22px;
	transition: 0.5s;
}

.headline1Cont:hover {
	box-shadow: #8b8b8b 3px 3px 3px;
	transform: translateY(-5px) translateX(-5px);
}

.headline1 img {
	width: 460px;
	border-radius: 15px;
}

#headline1Txt {
	margin-bottom: 10px;
}

.headline2Cont {
	background-color: #202020;
	border-radius: 11px;
	width: fit-content;
	height: 500px;
	padding: 22px;
	transition: 0.5s;
}

.headline2 img {
	width: 460px;
	border-radius: 15px;
}

.headline2Cont:hover {
	box-shadow: #8b8b8b 3px 3px 3px;
	transform: translateY(-5px) translateX(-5px);
}

/* Apple September News */
.appleSepHeroTxt {
	height: 800px;
	color: black;
	margin-bottom: 10px;
}

.appleSepHeroImage {
	height: 400px;
}

.section-wrapper {
	width: 98%;
	display: flex;
	margin: 2%;
	gap: 5%;
}

.section1 {
	flex: 45%;
	width: 100%;
}

.news h1 {
	padding: 5%;
	font-size: 60px;
}

img {
	width: 100%;
	border-radius: 11px;
}

.section2 {
	flex: 45%;
	width: 100%;
}