@mixin listProperties {
    height: 10rem;
    padding:1rem;
    margin:1rem 3rem 1rem 3rem;
    border-radius: 1.1rem;
    text-decoration: none;
}

@mixin listHover {
    box-shadow: #8b8b8b 0.3rem 0.3rem 0.3rem;
    transform: scale(1.02);
}