.appleSepHeroTxt {
    height: 800px;
    color: white;
    margin-bottom: 1rem;
    margin-left: 5rem;

    p {
      padding-top: 1rem;
      font-size: 30px;
    }
  }

.appleSepHeroImage {
  height: 55vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative;
}