.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: $search-red-1;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;

  &.open {
    width: 250px;
  }

  .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    .icon {
      opacity: 0;
      transition: all 0.5s ease;
      height: 40px;
    }

    .logo_name {
      color: $blinding-white;
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease;
      height: 40px;
    }
  }

  &.open .logo-details {
    .icon,
    .logo_name {
      opacity: 1;
    }
  }

  .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &.open .logo-details #btn {
    text-align: right;
  }

  i {
    color: $blinding-white;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }

  .nav-list {
    margin-top: 20px;
    height: 100%;
  }

  li {
    position: relative;
    margin: 8px 0;
    list-style: none;

    .tooltip {
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 3;
      background: $blinding-white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: 0s;
    }

    &:hover .tooltip {
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s ease;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.open li .tooltip {
    display: none;
  }

  input {
    font-size: 15px;
    color: $blinding-white;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: $nav-background-red-1;
  }

  &.open input {
    padding: 0 20px 0 50px;
    width: 100%;
  }

  .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: $nav-background-red-1;
    color: $blinding-white;
  }

  &.open .bx-search:hover {
    background: $nav-background-red-1;
    color: $blinding-white;
  }

  .bx-search:hover {
    background: $blinding-white;
    color: #11101d;
  }

  li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: $btn-red-1;

    &:hover {
      background: $blinding-white;
    }

    .links_name {
      color: $blinding-white;
      font-size: 15px;
      font-weight: 400;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      transition: 0.4s;
    }
  }

  &.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    a:hover {
      .links_name,
      i {
        transition: all 0.5s ease;
        color: #11101d;
      }
    }

    i {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-radius: 12px;
    }

    &.profile {
      position: fixed;
      height: 60px;
      width: 78px;
      left: 0;
      bottom: -8px;
      padding: 10px 14px;
      background: orangered;
      transition: all 0.5s ease;
      overflow: hidden;
    }
  }

  &.open li.profile {
    width: 250px;
  }

  li {
    .profile-details {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    img {
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 6px;
      margin-right: 10px;
    }

    &.profile {
      .name {
        font-size: 15px;
        font-weight: 400;
        color: $blinding-white;
        white-space: nowrap;
      }

      .job {
        font-size: 15px;
        font-weight: 400;
        color: $blinding-white;
        white-space: nowrap;
        font-size: 12px;
      }
    }
  }

  .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: orangered;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }

  &.open .profile #log_out {
    width: 50px;
    background: none;
  }
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
