@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background-color: #303030;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #303030;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 100px;
    height: auto;
    padding: 10px 0;
    cursor: pointer;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 43px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: red;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    width: 0;
    transition: 200ms;
}

nav a:hover::before {
    width: 100%;
}

.hero {
    width: 100%;
    height: 200px;
    background-color: rgb(75, 75, 75);
}

.hcontainer {
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.typing {
    position: relative;
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    margin-left: 5px;
    height: 100%;
    background-color: lightgray;
    animation: blink 0.5s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.widget {
    width: 90%;
    flex: 20%;
    background-color: #222222;
    padding: 10px;
    height: 100%;
}

.widget a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #303030;
    padding: 10px;
    margin: 3px;
    transition: background-color 0.5s ease-out;
}

#more {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #303030;
    padding: 10px;
    margin: 3px;
    transition: background-color 0.5s ease-out;
}

.widget a:hover {
    background-color: #A50000;
}

ul {
    list-style-type: upper-alpha;
}

.main {
    flex: 80%;
    padding: 20px;
    display: block;
}