header {
    background-color: $ss-grey;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
  
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  .logo {
    float: left;
    width: 10rem;
    height: auto;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    float: right;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li {
      display: inline-block;
      margin-left: 7rem;
      padding-top: 4.3rem;
      position: relative;
    }
  
    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
  
      &:hover {
        color: red;
  
        &::before {
          width: 100%;
        }
      }
  
      &::before {
        content: "";
        display: block;
        height: 0.5rem;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        width: 0;
        transition: 200ms;
      }
    }
  }

.navContainer {
    width: 80%;
    margin: 0 auto;
}