@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #303030;
    margin: 0px;
}

h1 {
    font-weight: 800;
    text-align: left;
    margin: 40px 0 40px;
    font-size: 60px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Open Sans', cursive;
}

h1.title {
    margin: 3%;
}

h2 {
    font-size: 30px;
    font-weight: 800;
}

p {
    font-size: 20px;
    font-weight: 400;
}


/* Navigations */

nav {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    width: 100%;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #303030;
}

.active {
    background: #fa4454;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    transition: 0.3s;
    text-decoration: none;
    width: 20%;
}

nav a:hover {
    font-family: 'Open Sans', sans-serif;
    background: #fa4454;
}

nav img {
    height: auto;
}

img {
    border-radius: 11px;
}


/* Welcome screen */

.HomeTitle {
    margin-top: 50px;
    margin-left: 60px;
}

.HomeTitle h1 {
    font-size: 60px;
}

.HomeParagraphI {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: 0%;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 2%;
}

.HomeParagraphII {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-template-columns: repeat(2, 49%);
    background-color: #424242;
    padding-top: 15px;
    padding-bottom: 15px;
}

.HomeParagraphImage {
    flex: 45%;
    padding-left: 5%;
}

.HomeParagraphImage img {
    width: 100%;
}

.HomeParagraphImageII img {
    margin: 2%;
}

.contentimg {
    flex: 45%;
    padding-left: 5%;
}

.contentimg img {
    width: 100%;
}

.HomeParagraphText {
    flex: 45%;
    padding-left: 10%;
}

.button {
    margin: auto;
    font-family: 'Kanit', sans-serif;
    background-color: #46484a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: white solid 3px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    flex: 10%;
    width: 80%;
    margin-top: 60px;
}

.button:hover {
    box-shadow: 5px 5px 7px lightgray;
    background-color: white;
    color: black;
    font-weight: bold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}


/* Under Development Page */

#indevtitle {
    margin-left: 40px;
}

#indevsubtitle {
    margin-right: 20px;
}

#indevbackhome {
    margin-left: 40px;
}


/* Documents Page */


/* Footer */

footer {
    margin: 1vw;
    margin-bottom: 12px;
    font-family: 'JetBrains Mono', monospace;
}

.HomeParagraphIIText {
    margin-left: 5%;
}