@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes in {
  100% {
    background-position-x: -2rem; } }

@keyframes out {
  100% {
    background-position-x: 2rem; } }

/* line 1, asset/sass/base/_base.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 7, asset/sass/base/_base.scss */
html {
  font-size: 10px;
  scroll-behavior: smooth; }

/* line 12, asset/sass/base/_base.scss */
h2 {
  font-size: 3rem; }

/* line 15, asset/sass/base/_base.scss */
p {
  font-size: 1.7rem; }

/* line 19, asset/sass/base/_base.scss */
body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  background-color: #303030;
  color: white; }

/* line 1, asset/sass/base/_typography.scss */
.AppleSepHeroTxt h1 {
  font-size: 8rem; }

/* line 5, asset/sass/base/_typography.scss */
.news h1 {
  padding: 5%;
  font-size: 6rem; }

/* line 10, asset/sass/base/_typography.scss */
img {
  width: 100%;
  border-radius: 1.1rem; }

/* line 17, asset/sass/base/_typography.scss */
.allHeadlines h1 {
  font-size: 5rem;
  padding-left: 5rem; }

/* line 22, asset/sass/base/_typography.scss */
.allHeadlines__List h2 {
  color: white;
  text-decoration: none;
  padding: 2rem 0 0 2rem; }
  /* line 26, asset/sass/base/_typography.scss */
  .allHeadlines__List h2:hover {
    color: white;
    text-decoration: none; }

/* line 32, asset/sass/base/_typography.scss */
.allHeadlines__List-wrapper {
  background-color: #202020;
  border-radius: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  margin: 0 7rem; }

/* line 43, asset/sass/base/_typography.scss */
.removeAnchorEffect {
  text-decoration: none;
  color: #fff; }

/* line 1, asset/sass/components/_appleSepPara1.scss */
.section-wrapper {
  width: 98%;
  display: flex;
  margin: 2%;
  gap: 5%; }

/* line 8, asset/sass/components/_appleSepPara1.scss */
.section1 {
  flex: 45%;
  width: 100%; }

/* line 13, asset/sass/components/_appleSepPara1.scss */
.section2 {
  flex: 45%;
  width: 100%; }

/* line 18, asset/sass/components/_appleSepPara1.scss */
.news {
  margin-top: 50rem; }

/* line 4, asset/sass/components/_headline1.scss */
.headline__1 img {
  width: 46rem;
  border-radius: 1.5rem; }

/* line 9, asset/sass/components/_headline1.scss */
.headline__1-Cont {
  background-color: #202020;
  border-radius: 1.1rem;
  width: fit-content;
  height: 51rem;
  padding: 2.2rem;
  transition: 0.5s; }
  /* line 17, asset/sass/components/_headline1.scss */
  .headline__1-Cont:hover {
    box-shadow: #8b8b8b 0.3rem 0.3rem 0.3rem;
    transform: scale(1.05); }
  /* line 22, asset/sass/components/_headline1.scss */
  .headline__1-Cont:active {
    box-shadow: #8b8b8b 0 0 0;
    transform: scale(0.9); }

/* line 30, asset/sass/components/_headline1.scss */
#headline1Txt {
  margin-bottom: 1rem; }

/* line 2, asset/sass/components/_lists1.scss */
.allHeadlines__List {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-top: 3rem; }

/* line 10, asset/sass/components/_lists1.scss */
.allHeadlines a {
  text-decoration: none; }

/* line 17, asset/sass/components/_lists1.scss */
.list__date {
  text-align: right;
  padding: 0 0 4%;
  opacity: 0;
  transition-duration: 1s; }
  /* line 23, asset/sass/components/_lists1.scss */
  .list__date:hover {
    opacity: 100%; }

/* line 28, asset/sass/components/_lists1.scss */
.list__1 {
  height: 10rem;
  padding: 1rem;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 1.1rem;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.5)), url(../img/win11List.jpg);
  transition-duration: .5s; }
  /* line 37, asset/sass/components/_lists1.scss */
  .list__1:hover {
    box-shadow: #8b8b8b 0.3rem 0.3rem 0.3rem;
    transform: scale(1.02); }
  /* line 42, asset/sass/components/_lists1.scss */
  .list__1:active {
    box-shadow: #8b8b8b 0 0 0;
    transform: scale(0.9); }
  /* line 47, asset/sass/components/_lists1.scss */
  .list__1 p {
    text-align: right; }

/* line 51, asset/sass/components/_lists1.scss */
.list__2 {
  height: 10rem;
  padding: 1rem;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 1.1rem;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.5)), url(../img/california.jpeg);
  transition-duration: .5s; }
  /* line 60, asset/sass/components/_lists1.scss */
  .list__2:hover {
    box-shadow: #8b8b8b 0.3rem 0.3rem 0.3rem;
    transform: scale(1.02); }
  /* line 64, asset/sass/components/_lists1.scss */
  .list__2:active {
    box-shadow: #8b8b8b 0 0 0;
    transform: scale(0.9); }

/* line 69, asset/sass/components/_lists1.scss */
.list__3 {
  height: 10rem;
  padding: 1rem;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 1.1rem;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.5)), url(../img/ambient.jpg);
  background-position: center;
  transition-duration: .5s; }
  /* line 79, asset/sass/components/_lists1.scss */
  .list__3:hover {
    box-shadow: #8b8b8b 0.3rem 0.3rem 0.3rem;
    transform: scale(1.02); }
  /* line 83, asset/sass/components/_lists1.scss */
  .list__3:active {
    box-shadow: #8b8b8b 0 0 0;
    transform: scale(0.9); }

/* line 1, asset/sass/components/_typingEffect.scss */
.typing {
  position: relative;
  font-size: 4rem;
  text-shadow: 0.5rem 0.5rem 0.3rem black;
  z-index: 1; }
  /* line 9, asset/sass/components/_typingEffect.scss */
  .typing::after {
    content: "";
    position: absolute;
    width: 0.3rem;
    margin-left: 0.5rem;
    height: 100%;
    background-color: lightgray;
    animation: blink 0.5s infinite ease; }

/* line 20, asset/sass/components/_typingEffect.scss */
.tyeffect::after {
  content: "";
  position: absolute;
  width: 4.5rem;
  margin-left: 0.5rem;
  height: 10.5rem;
  background-color: black;
  animation: blink 1s infinite; }

/* line 3, asset/sass/layout/_header.scss */
#main1 {
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-image: url(../img/newsbg.png); }

/* line 21, asset/sass/layout/_header.scss */
.blur {
  backdrop-filter: blur(1rem); }

/* line 25, asset/sass/layout/_header.scss */
#placeholdersoyoucanscroll {
  height: 100vh; }

/* line 29, asset/sass/layout/_header.scss */
.heroCon2 {
  display: flex;
  text-align: center;
  color: white; }

/* line 37, asset/sass/layout/_header.scss */
.time_hero {
  height: 10rem;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large; }

/* line 1, asset/sass/layout/_navigation.scss */
header {
  background-color: #303030;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2; }
  /* line 8, asset/sass/layout/_navigation.scss */
  header::after {
    content: "";
    display: table;
    clear: both; }

/* line 15, asset/sass/layout/_navigation.scss */
.logo {
  float: left;
  width: 10rem;
  height: auto;
  padding: 10px 0; }

/* line 22, asset/sass/layout/_navigation.scss */
nav {
  display: flex;
  float: right; }
  /* line 26, asset/sass/layout/_navigation.scss */
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 32, asset/sass/layout/_navigation.scss */
  nav li {
    display: inline-block;
    margin-left: 7rem;
    padding-top: 4.3rem;
    position: relative; }
  /* line 39, asset/sass/layout/_navigation.scss */
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
    /* line 44, asset/sass/layout/_navigation.scss */
    nav a:hover {
      color: red; }
      /* line 47, asset/sass/layout/_navigation.scss */
      nav a:hover::before {
        width: 100%; }
    /* line 52, asset/sass/layout/_navigation.scss */
    nav a::before {
      content: "";
      display: block;
      height: 0.5rem;
      width: 100%;
      background-color: gray;
      position: absolute;
      top: 0;
      width: 0;
      transition: 200ms; }

/* line 66, asset/sass/layout/_navigation.scss */
.navContainer {
  width: 80%;
  margin: 0 auto; }

/* line 1, asset/sass/layout/_footer.scss */
footer {
  display: flex;
  padding: 2rem;
  text-align: center;
  background-color: #202020; }
  /* line 6, asset/sass/layout/_footer.scss */
  footer p {
    text-decoration: none; }

/* line 1, asset/sass/pages/_appleSep.scss */
.appleSepHeroTxt {
  height: 800px;
  color: white;
  margin-bottom: 1rem;
  margin-left: 5rem; }
  /* line 7, asset/sass/pages/_appleSep.scss */
  .appleSepHeroTxt p {
    padding-top: 1rem;
    font-size: 30px; }

/* line 13, asset/sass/pages/_appleSep.scss */
.appleSepHeroImage {
  height: 55vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative; }

/* line 1, asset/sass/pages/_home.scss */
.featured {
  width: 100%;
  display: flex;
  padding-top: 5rem; }
  /* line 6, asset/sass/pages/_home.scss */
  .featured h1 {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 5rem; }
  /* line 12, asset/sass/pages/_home.scss */
  .featured p {
    margin-top: 3%;
    margin-bottom: 3%; }
  /* line 17, asset/sass/pages/_home.scss */
  .featured__Headlines {
    flex: 80%;
    gap: 5%;
    padding: 1rem;
    display: flex; }
    /* line 23, asset/sass/pages/_home.scss */
    .featured__Headlines a {
      text-decoration: none;
      color: white; }
