.AppleSepHeroTxt h1 {
    font-size: 8rem;
}

.news h1 {
    padding: 5%;
    font-size: 6rem;
}

img {
    width: 100%;
    border-radius: 1.1rem;
}

.allHeadlines {

    h1 {
        font-size: 5rem;
        padding-left: 5rem;
    }
    
    &__List h2 {
        color: white;
        text-decoration: none;
        padding: 2rem 0 0 2rem;
        &:hover {
            color: white;
            text-decoration: none; 
        }
    }

    &__List-wrapper {
        background-color: #202020;
        border-radius: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display:block;
        margin: 0 7rem;
    }
}


.removeAnchorEffect {
    text-decoration: none;
    color: #fff;
}