.headline {
  &__1 {
    
    & img {
      width: 46rem;
      border-radius: 1.5rem;
    }

    &-Cont {
      background-color: #202020;
      border-radius: 1.1rem;
      width: fit-content;
      height: 51rem;
      padding: 2.2rem;
      transition: 0.5s;

      &:hover {
        box-shadow: #8b8b8b 0.3rem 0.3rem 0.3rem;
        transform: scale(1.05);
      }

      &:active {
        box-shadow: #8b8b8b 0 0 0;
        transform: scale(.9);
      }
    }
  }
}

#headline1Txt {
  margin-bottom: 1rem;
}
