.allHeadlines {
    &__List {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background-color: #202020;
        margin-top: 5rem;
    }

    & a {
        text-decoration: none;
    }
}

.list {
    &__1 {
        @include listProperties;
        background-image:linear-gradient(
            to right ,
            rgba(#202020 , 0.8),
            rgba(#202020 , 0.5)),
        url(../img/win11List.jpg);
        background-position: center;
        
        &::before {
            background-position-x: 2rem;
        }

        &:hover {
            background-position-x: -2rem;
            transition-duration: .7s;
        }

        &:active {
            box-shadow: #8b8b8b 0 0 0;
            transform: scale(.9);
        }
    }
    &__2 {
        @include listProperties;
        background-image:linear-gradient(
            to right ,
            rgba(#202020 , 0.8),
            rgba(#202020 , 0.5)),
        url(../img/california.jpeg);

        &:hover {
            background-position-x: -2rem;
            transition-duration: .7s;
        }

        &:active {
            box-shadow: #8b8b8b 0 0 0;
            transform: scale(.9);
        }
    }
    &__3 {
        @include listProperties;
        background-image:linear-gradient(
            to right ,
            rgba(#202020 , 0.8),
            rgba(#202020 , 0.5)),
        url(../img/ambient.jpg);
        background-position: center;

        &:hover {
            background-position-x: -2rem;
            transition-duration: .7s;
        }

        &:active {
            box-shadow: #8b8b8b 0 0 0;
            transform: scale(.9);
        }
    }
}