@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  background-color: #303030;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 43px;
  position: relative;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
}
nav a:hover {
  color: orange;
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: gray;
  position: absolute;
  top: 0;
  width: 0;
  transition: 200ms;
}

.logo {
  float: left;
  width: 100px;
  height: auto;
  padding: 10px 0;
  cursor: pointer;
}

.navigationContainer {
  height: 15vh;
  width: 100%;
  background-color: #202020;
}
