/* line 1, asset/sass/base/_base.scss */
html {
  font-size: 62.5%;
  box-sizing: border-box; }

/* line 6, asset/sass/base/_base.scss */
body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  background-color: #303030;
  color: white; }

/* line 13, asset/sass/base/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 18, asset/sass/base/_base.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* line 24, asset/sass/base/_base.scss */
.removeAnchorEffect {
  text-decoration: none;
  color: #f0efec; }
  /* line 27, asset/sass/base/_base.scss */
  .removeAnchorEffect a {
    text-decoration: none; }

/* line 1, asset/sass/components/_sidebar.scss */
.widget {
  width: 40rem;
  height: fit-content;
  background-color: #474747; }
  /* line 6, asset/sass/components/_sidebar.scss */
  .widget h3 {
    font-size: 4rem; }
  /* line 10, asset/sass/components/_sidebar.scss */
  .widget__Projects {
    display: flex;
    flex-direction: column; }
    /* line 14, asset/sass/components/_sidebar.scss */
    .widget__Projects--1 {
      border-radius: 1.1rem;
      padding: 1.5rem;
      margin: 1.5rem;
      background-image: linear-gradient(to right, rgba(32, 32, 32, 0.8), rgba(32, 32, 32, 0.5)), url(../img/Valorant.jpeg);
      transition-duration: 0.5s; }
    /* line 25, asset/sass/components/_sidebar.scss */
    .widget__Projects--2 {
      border-radius: 1.1rem;
      padding: 1.5rem;
      margin: 1.5rem; }
    /* line 29, asset/sass/components/_sidebar.scss */
    .widget__Projects--3 {
      border-radius: 1.1rem;
      padding: 1.5rem;
      margin: 1.5rem; }

/* line 1, asset/sass/layout/_header.scss */
.hero {
  height: 60vh;
  width: 100vw;
  background-color: #0e202e;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 9, asset/sass/layout/_header.scss */
  .hero__text {
    font-size: 3.5rem;
    text-shadow: 3px 3px 3px black; }

/* line 1, asset/sass/layout/_navigation.scss */
nav {
  float: right; }
  /* line 4, asset/sass/layout/_navigation.scss */
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 10, asset/sass/layout/_navigation.scss */
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 43px;
    position: relative; }
  /* line 17, asset/sass/layout/_navigation.scss */
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem; }
    /* line 23, asset/sass/layout/_navigation.scss */
    nav a:hover {
      color: red; }
    /* line 27, asset/sass/layout/_navigation.scss */
    nav a::before {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background-color: gray;
      position: absolute;
      top: 0;
      width: 0;
      transition: 200ms; }

/* line 41, asset/sass/layout/_navigation.scss */
.logo {
  float: left;
  width: 100px;
  height: auto;
  padding: 10px 0;
  cursor: pointer; }

/* line 49, asset/sass/layout/_navigation.scss */
.navigationContainer {
  height: 15vh;
  width: 100%;
  background-color: #202020; }
